{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Esine</th>
      <th>Kategoria</th>
      <th>Vanhentunut</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      {% for category in categories %}
        {% if category.id == item.category_id %}
        <td>{{ category.name }}</td>
        {% endif %}
      {% endfor %}
      <td>{{ item.expired }}</td>
      <td colspan="3">
        <form method="GET" action="{{ url_for('items_modify', item_id=item.id) }}">
          <input type="submit" value="Muokkaa"/>
        </form>
        <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
          <input type="submit" value="Poista esine"/>
        </form>
      </td>
      <td>

      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
