{% extends "layout.html" %}

 {% block body %}
 <form method="POST" action="{{ url_for('items_modify', item_id=item.id) }}">
 <!-- <form method="POST"> -->
   <table>
     <tr>
 <td>
   {{ form.name.label }}
 </td>
 <td>
   {{ form.name(value=item.name) }}
 </td>
 <td>
   <ul>
     {% for error in form.name.errors %}
     <li>{{ error }}</li>
     {% endfor %}
   </ul>
 </td>
     </tr>
     <tr>
 <td>
   {{ form.expired.label }}
 </td>
 <td>
   {{ form.expired(value=item.expired) }}
 </td>
 <td>
 </td>
     </tr>
     <tr>
 <td colspan="3">
   <!-- <input type="submit" value="Tallenna muutokset" action="{{ url_for('items_modify', item_id=item.id) }}"/ > -->
   <input type="submit" value="Tallenna muutokset"/ >
 </td>
     </tr>
 </form>
 {% endblock %}
