{% extends "layout.html" %}

 {% block body %}
 Valitse haettava kategoria
 <form method="POST" action="{{ url_for('items_show_results', category_id=form.item_category.data) }}">
   <table>
     <tr>
 <td>
   {{ form.item_category.label }}
 </td>
 <td>
   {{ form.item_category }}
 </td>
 <td>
   <ul>
     {% for error in form.item_category.errors %}
     <li>{{ error }}</li>
     {% endfor %}
   </ul>
 </td>
     </tr>

     <tr>
 <td colspan="3">
   <input type="submit" value="Hae esineitä"/>
 </td>
     </tr>
 </form>
 {% endblock %}
