{% extends "layout.html" %}

{% block body %}
{{ error }}
  <table>
    <tr>
      <th>Kategoriat</th>
      <th></th>
    </tr>
    {% for category in categories %}
    {% if category.name != "Ei kategoriaa" %}
    <tr>
      <td>{{ category.name }}</td>
      <td>
        <td colspan="3">
          <form method="GET" action="{{ url_for('categories_modify', category_id=category.id) }}">
            <input type="submit" value="Muokkaa"/>
          </form>
          <form method="POST" action="{{ url_for('categories_delete', category_id=category.id) }}">
            <input type="submit" value="Poista kategoria"/>
          </form>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
{% endblock %}
